.address {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header__sticky .address {
  color:  #202b33;
}

.address__icon {
  margin-right: 10px;
  color: #f9f9f9;
}

.header__sticky .address__icon {
  color: #406096;
}

@media (max-width: 1150px) {
  .address {
    font-size: 13px;
  }
}

@media (max-width: 1024px) { 
  .address {
    font-size: 12px;
  }
}

@media (max-width: 930px) {
  .address {
    display: none;
  }
}