.btn_centered {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #deb46a;
  background-image: url('../../img/btn/btn-bg.png');
  background-repeat: repeat-x;
  background-position: top left;
  border-radius: 25px;
  font-family: var(--second-family), serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #33363c;
  text-shadow: 1px 0 1px #f6e8c7;
  border-bottom: 3px solid #bd8e5a;
  transition: all .2s linear;
}

.btn:hover {
  background-image: url('../../img/btn/btn-bg-hover.png');
  box-shadow: 0 3px 25px 5px rgba(189,142,90,.35);
}

.btn:active {
  background-image: url('../../img/btn/btn-bg-active.png');
  box-shadow: none;
}

.btn_main {
  text-transform: uppercase;
}

.btn-call {
  display: flex;
  align-items: center;
  backdrop-filter: blur(45px);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  padding: 20px 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: -0.03em;
}

.btn-call::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0 0 15px 0 #fff;
  margin-right: 10px;
}

@media (max-width: 1150px) {
  .btn-call {
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .btn-call {
    box-shadow: inset 0 4px 15px 0 rgba(255, 255, 255, 0.25);
    background: #3f6096;
    color: #FFFFFF;
  }
}