.btn_centered {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 18px 40px 13px 40px;
  background-color: #deb46a;
  background-image: url('../../img/btn/btn-bg.png');
  background-repeat: repeat-x;
  background-position: top left;
  border-radius: 25px;
  font-family: var(--second-family), serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #33363c;
  text-shadow: 1px 0 1px #f6e8c7;
  border-bottom: 3px solid #bd8e5a;
  transition: all .2s linear;
}

.btn:hover {
  background-image: url('../../img/btn/btn-bg-hover.png');
  box-shadow: 0 3px 25px 5px rgba(189,142,90,.35);
}

.btn:active {
  background-image: url('../../img/btn/btn-bg-active.png');
  box-shadow: none;
}

.btn_main {
  text-transform: uppercase;
}

.btn-call {
  display: flex;
  align-items: center;
  backdrop-filter: blur(45px);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  padding: 20px 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: -0.03em;
}

.btn-call::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0 0 15px 0 #fff;
  margin-right: 10px;
}

.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all .2s linear;
  box-shadow: inset 0 0 0 3px#cccccc;
  border-radius: 50%;
}

.btn-top_show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.btn-top__circle {
  width: 46px;
  height: 46px;
  fill: transparent;
  stroke: #dbb974;
  stroke-width: 6px;
}

.btn-top__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: #dbb974;
  width: 15px;
  height: 20px;
}

@media (max-width: 1150px) {
  .btn-call {
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .btn-call {
    box-shadow: inset 0 4px 15px 0 rgba(255, 255, 255, 0.25);
    background: #3f6096;
    color: #FFFFFF;
  }
}

@media (max-width: 500px ) {
  .btn-call {
    font-size: 12px;
    padding: 16px 20px;
  }
}

@media (max-width: 400px) {
  .btn {
    font-size: 14px;
    padding: 18px 23px 13px 23px;
  }
}