.slider__button-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  visibility: hidden;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 18;
  visibility: visible;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 55px;
  height: 55px;
}

.slider__button_prev {
  left: -96px;
}

.slider__button_next {
  right: -96px;
}