.socials__list {
  display: flex;
  align-items: center;
  color: #f9f9f9;
}

.header__sticky .socials__list {
  color: #406096;
}

.socials__list-item:not(:last-of-type) {
  margin-right: 30px;
}

@media (max-width: 1150px) {
  .socials__list-item:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .socials__list-item {
    max-width: 15px;
  }
}