.tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.tab {
  text-align: center;
  color: #33363c;
  padding: 12px 36px;
  border: 1px solid #DBB974;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .tab {
    padding: 10px 25px;
  }
}

@media (max-width: 550px) {
  .tabs {
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .tab {
    font-size: 14px;
  }
}