:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Old Standard TT", sans-serif;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto;
}

.text_style_opacity {
  opacity: 0.45;
}

.slick-track {
  z-index: 11;
}

.section {
  padding: 100px 0;
}

.section__head {
  margin-bottom: 60px;
}

.section__title {
  font-family: var(--second-family), serif;
  font-size: 50px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

.section__subtitle {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: #5e5e5e;
  margin-top: 20px;
}

.text_gold {
  color: #DBB974;
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 42px;
  }
}

@media (max-width: 1000px) {
  .section {
    padding: 80px 0;
  }
}

@media (max-width: 1024px) {
  .section__title {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media (max-width: 400px) {
  .section {
    padding: 40px 0;
  }
}

@media (max-width: 850px) {
  .section__title {
    font-size: 33px;
  }
}

@media (max-width: 750px) {
  .section__title {
    font-size: 28px;
  }

  .section__title br {
    display: none;
  }

  .section__subtitle {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 16px;
  }
}
