:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Old Standard TT", sans-serif;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family), sans-serif;
  line-height: 1.125;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto;
}

.text_style_opacity {
  opacity: 0.45;
}

.slick-track {
  z-index: 11;
}

.section {
  padding: 50px 0;
}

.section__title {
  font-size: 44px;
  color: #000;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 400;
}

.text_gold {
  color: #DBB974;
}
