.footer {
  background: url('../../img/section-bg.jpg') no-repeat center / cover;
  color: #FFFFFF;
  padding: 50px 0;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__logo {
  margin-right: auto;
}

.footer__logo .logo__link {
  align-items: flex-start;
}

.footer__logo .logo__text {
  text-align: left;
}

.footer__shedule {
  margin-right: 40px;
}

.footer__middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer__middle .address, .footer__middle .socials__list {
  max-width: 200px;
  width: 100%;
}

.footer__middle .socials__list {
  justify-content: flex-end;
}

.footer__policy {
  opacity: 0.45;
}

.footer__team {
  text-align: center;
  opacity: 0.45;
}