.footer {
  background: url('../../img/section-bg.jpg') no-repeat center / cover;
  color: #FFFFFF;
  padding: 50px 0;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__logo {
  margin-right: auto;
}

.footer__logo .logo__link {
  align-items: flex-start;
}

.footer__logo .logo__text {
  text-align: left;
}

.footer__shedule {
  margin-right: 40px;
}

.footer__middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer__middle .address, .footer__middle .socials__list {
  max-width: 200px;
  width: 100%;
}

.footer__middle .socials__list {
  justify-content: flex-end;
}

.footer__policy {
  opacity: 0.45;
}

.footer__team {
  text-align: center;
  opacity: 0.45;
}

@media (max-width: 1150px) {
  .footer__middle .address, .footer__middle .socials__list {
    max-width: 190px;
    width: 100%;
  }

  .footer__middle .socials__list {
    justify-content: space-between;
  }

  .footer__middle .socials__list-item {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .footer__middle .address, .footer__middle .socials__list {
    max-width: 175px;
    width: 100%;
  }

  .footer__shedule {
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  .footer__middle {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__middle .address {
    margin-bottom: 20px;
  }

  .footer__policy {
    margin-bottom: 20px;
  }
}

@media (max-width: 610px) {
  .footer__top {
    flex-direction: column;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__logo .logo__link {
    align-items: center;
  }

  .footer__logo .logo__text {
    text-align: center;
  }

  .footer__shedule {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}