.header {
  position: relative;
  z-index: 1;
  color: #fff;
}

.header__sticky {
  position: absolute;
  transform: translate(-50%, -100%);
  top: -20px;
  left: 50%;
  transition: all .2s linear;
  z-index: 13;
  width: 100%;
  color:  #202b33;
  will-change: top, transform;
}

.header__sticky-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}

.header__sticky_show {
  position: fixed;
  transform: translate(-50%, 0);
  top: 0;
}

.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header__top {
  padding: 10px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-item {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.header__nav-link {
  padding: 14px 20px;
  display: flex;
  transition: background .2s linear;
  border-radius: 100px;
}

.header__nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.header__nav-item_current .header__nav-link {
  background: rgba(255, 255, 255, 0.1);
}

.header__sticky .header__nav-link:hover {
  background: rgba(245, 245, 245, 0.56);
}

.header__sticky .header__nav-item_current .header__nav-link {
  background: rgba(245, 245, 245, 0.56);
}

.header__bottom {
  border-top: 1px solid rgba(59, 97, 167, 0.05);
  border-bottom: 1px solid rgba(59, 97, 167, 0.05);
}

.header__logo {
  padding: 15px 55px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.header__logo_mobile {
  display: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1150px) {
  .header__nav-item {
    font-size: 13px;
  }

  .header__nav-link {
    padding: 12px 16px;
  }

  .socials__list-item:not(:last-of-type) {
    margin-right: 20px;
  }

  .header__logo {
    padding: 10px 35px;
  }
}

@media (max-width: 1024px) {
  .header__nav-link {
    padding: 12px 12px;
  }
}

@media (max-width: 768px) {
  .header__sticky-wrapper {
    border-radius: 0 ;
    border-bottom: 1px solid rgba(59, 97, 167, 0.05);
    padding: 10px 30px;
  }

  .header {
    background: #FFFFFF;
    color: #33363c;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header__bottom {
    padding: 15px 0 20px 0;
    border-top: 1px solid rgba(59, 97, 167, 0.05);
  }

  .header__bottom .logo {
    display: none;
  }

  .header__logo_mobile {
    display: flex;
    padding: 0;
  }

  .header__logo_mobile .logo__link {
    text-align: left;
    align-items: flex-start;
  }

  .header .socials__list, .header__sticky .socials__list {
    display: none;
  }

  .header__btn-call {
    box-shadow: inset 0 4px 15px 0 rgba(255, 255, 255, 0.25);
    background: #3f6096;
    color: #FFFFFF;
  }

  .header__btn-call:hover {
    background: #294d87;
  }
}

@media (max-width: 500px) {
  .header__sticky-wrapper {
    padding: 10px 16px;
  }
}