.hero__slider-wrapper {
  position: relative;
}

.hero__slider {
  margin-top: -152px;
  font-family: var(--second-family), serif;
  color: #fff;
}

.hero__slider-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__slider .slick-dots {
  bottom: 30px;
}

.hero__slider .slick-dots li {
  width: 11px;
  height: 11px;
}

.hero__slider .slick-dots li button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.25;
  transition: opacity .2s linear;
}

.hero__slider .slick-dots li.slick-active button {
  opacity: 1;
}

.hero__slider .slick-dots li button::before {
  display: none;
}

.hero__slider-wrapper .slider__button {
  transform: translateY(50%);
  border-color: transparent;
  background-color: rgba(255, 255, 255, .1);
}

.hero__slide {
  height: 600px;
  padding-top: 190px;
  background-position: center left 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__slide-title {
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.hero__slide-text {
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.7s linear;
}

.hero__slide-btn {
  opacity: 0;
  transition: opacity 0.9s linear;
  width: fit-content;
}

@media (max-width: 1440px) {
  .hero__slide {
    background-position: left 52% center;
  }

  .hero__slide-content {
    padding-left: 60px;
  }

  .hero__slider-wrapper .slider__button-container .slider__button_prev {
    left: -50px;
  }

  .hero__slider-wrapper .slider__button-container .slider__button_next {
    right: -50px;
  }
}

@media (max-width: 1300px) {
  .hero__slider-wrapper .slider__button-container .slider__button_prev {
    left: -20px;
  }

  .hero__slider-wrapper .slider__button-container .slider__button_next {
    right: -20px;
  }
}

@media (max-width: 768px) {
  .hero__slider {
    margin-top: 0;
  }

  .hero__slide {
    padding: 50px 0;
  }

  .hero__slide-container {
    height: 100%;
  }

  .hero__slide-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .hero__slide-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .hero__slide-text {
    font-size: 15px;
  }

  .hero__slider-wrapper .slider__button {
    transform: translateY(-50%);
  }

  .hero__slide-btn {
    margin-top: auto;
  }
}

@media (max-width: 570px) {
  .slider__button-container {
    display: none !important;
  }

  .hero__slide-content {
    padding-left: 0;
  }
}