.services__slider-wrapper {
  position: relative;
  margin-bottom: 150px;
}

.services__tabs {
  justify-content: center;
}

.services__slider {
  overflow: hidden;
}

.services__slider_mobile {
  display: none;
}

.services__slider .slick-slide {
  opacity: 1 !important;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.services__card {
  background: red;
  border-radius: 10px;
  height: 250px;
  transition: transform .5s linear;
  padding: 20px;
}

.services__card_big {
  width: calc(50% - 6.7px);
}

.services__card_small {
  width: calc(25% - 6.7px);
}

.services__card-title {
  font-family: var(--second-family), serif;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
}

.services__card-btn {
  display: inline-block;
  color: #FFFFFF;
  border: 2px solid #DBB974;
  padding: 5px 20px;
  border-radius: 25px;
}

.services .slider__button {
  border-color: #DBB974;
  color: #DBB974;
}

.hide-left {
  transform: translateX(-150%);
}

.hide-top {
  transform: translateY(-150%);
}

.hide-right {
  transform: translateX(150%);
}

.hide-bottom {
  transform: translateY(150%);
}

@media (max-width: 1400px) {
  .services__slider {
    padding: 0 75px;
  }

  .services__slider-wrapper .slider__button_prev {
    left: 0;
  }

  .services__slider-wrapper .slider__button_next {
    right: 0;
  }

}

@media (max-width: 1200px) {
  .services__card {
    height: 220px;
  }
}

@media (max-width: 1024px) {
  .services__card {
    height: 200px;
  }

  .services__card-title {
    font-size: 17px;
  }

  .services__card-btn {
    font-size: 15px;
    padding: 5px 15px;
  }
}

@media (max-width: 870px) {
  .services__card_big {
    width: calc(33% - 5px);
  }

  .services__card_small {
    width: calc(33% - 5px);
  }
}

@media (max-width: 768px) {
  .services__cards {
    gap: 5px;
  }

  .services__card {
    height: 170px;
  }

  .services__card_big {
    width: calc(33% - 2px);
  }

  .services__card_small {
    width: calc(33% - 2px);
  }

  .services__card-title {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .services__slider {
    padding: 0 60px;
  }

  .services__slider_pc {
    display: none;
  }

  .services__slider_mobile {
    display: block;
  }

  .services__card {
    margin: 0 5px;
  }
}

@media (max-width: 400px) {
  .services__slider {
    padding: 0;
  }

  .services__slider-buttons {
    max-width: 230px;
    bottom: -70px;
    top: initial;
  }

  .services__slider-buttons .slider__button {
    position: static;
    transform: translateY(0);
  }
}