.team {
  background: url("../../img/section-bg-white.jpg")no-repeat center / cover;
}

.team__list {
  display: flex;
  justify-content: space-between;
  gap: 0 15px;
  padding-top: 50px;
}

.team__item {
  position: relative;
  max-width: 340px;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 22px -2px rgba(0,0,0,.25);
}

.team__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 90px 10px 30px 10px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  min-height: 300px;
}

.team__item-img {
  position: absolute;
  top: -70px;
}

.team__item-text {
  font-size: 15px;
  color: #121212;
  line-height: 1.3em;
}