.works__slider-wrapper {
  position: relative;
  margin-bottom: 160px;
}

.works {
  background: url("../../img/section-bg.jpg") no-repeat center / cover;
}

.works__title, .works__subtitle {
  color: #fff;
}

.works .slick-track {
  padding-top: 250px;
  display: flex;
}

.works .slick-slide {
  height: auto;
}

.works .slick-slide > div {
  height: 100%;
}

.works__slide {
  position: relative;
  padding: 0 15px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.works__slide-title {
  font-family: var(--second-family), serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.works__slide-text {
  margin-bottom: 30px;
}

.works__slide-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  height: 100%;
  width: 100%;
  background: rgba(255, 166, 0, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px 15px;
  color: #FFFFFF;
}

.works__slide-content::before {
  position: absolute;
  content: '';
  border-radius: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #DDDDDD;
  z-index: -1;
}

.works__slide-btn {
  margin-top: auto;
}

.works__slide-img {
  position: absolute;
  max-width: 280px;
  z-index: -1;
  border-radius: 10px;
  top: 0;
  transform: translateY(-50%);
  transition: all .2s linear;
}

.works .slick-slide.slick-current .works__slide-img {
  transform: translateY(-85%);
}

.works .slider__button {
  border-color: #DBB974;
  color: #DBB974;
}

.works .slick-dots {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 5px 8px -4px rgba(0,0,0,.6) inset;
  font-size: 0;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  width: calc(100% - 30px);
}

.works .slick-dots li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% / 12);
  height: auto;
}

.works .slick-dots button {
  border: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  height: 11px;
  border-radius: 5px;
  background: 0 0;
}

.works .slick-dots li button:before {
  display: none;
}

.works .slick-dots li.slick-active button {
  background: linear-gradient(#f0dbb4, #caa561);
}

@media (max-width: 1400px) {
  .works__slider {
    padding: 0 75px;
  }

  .works__slider-wrapper .slider__button_prev {
    left: 0;
  }

  .works__slider-wrapper .slider__button_next {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .works .slick-track {
    padding-top: 190px;
  }

  .works__slide-title {
    margin-bottom: 10px;
  }

  .works__slide-text {
    font-size: 14px;
  }

  .works__slide-img {
    max-width: 220px;
  }
}

@media (max-width: 1100px) {
  .works__slider-wrapper {
    margin-bottom: 110px;
  }
}

@media (max-width: 1024px) {
  .works .slick-slide .works__slide-img {
    transform: translateY(-85%);
}
}

@media (max-width: 530px) {
  .works__slider-wrapper {
    padding-bottom: 65px;
    margin-bottom: 100px;
  }

  .works__slider {
    padding: 0;
  }

  .works__slider-buttons {
    top: initial;
    bottom: 0;
    max-width: 230px;
  }

  .works__slider-wrapper .slider__button {
    position: static;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .works__slider-wrapper {
    margin-bottom: 70px;
  }
}