.works__slider-wrapper {
  position: relative;
  margin-bottom: 150px;
}

.works {
  background: url("../../img/section-bg.jpg") no-repeat center / cover;
}

.works__title {
  color: #fff;
}

.works .slick-track {
  padding-top: 250px;
}

.works__slide {
  position: relative;
  padding: 0 15px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.works__slide-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 50px 15px 15px;
}

.works__slide-content::before {
  position: absolute;
  content: '';
  border-radius: 10px;
  width: calc(100% - 20px);
  height: calc(100% 0 20px);
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #DDDDDD;
}

.works__slide-img {
  position: absolute;
  max-width: 280px;
  z-index: -1;
  border-radius: 10px;
  top: 0;
  transform: translateY(-50%);
  transition: all .2s linear;
}

.works .slick-slide.slick-current .works__slide-img {
  transform: translateY(-85%);
}

.works .slick-dots {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 5px 8px -4px rgba(0,0,0,.6) inset;
  font-size: 0;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

.works .slick-dots li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.works .slick-dots button {
  border: 0;
  padding: 0;
  font-size: 0;
  min-width: 78px;
  height: 11px;
  border-radius: 5px;
  background: 0 0;
}

.works .slick-dots li button:before {
  display: none;
}

.works .slick-dots li.slick-active button {
  background: linear-gradient(#f0dbb4, #caa561);
}
